@import './animations.scss';
@import './mixins.scss';
//scrolling
    //scrollbar[dark,light]
		.scroll_light{
		    ::-webkit-scrollbar{
		        width: 5px;
		        background: rgba(10,10,10,0.5);
		    }
		    ::-webkit-scrollbar-thumb{
		        width: 7px;
		        color:white;
		    }
		}
		.scroll_dark{
			::-webkit-scrollbar{
		        width: 5px;
		        background: rgba(10,10,10,0.3);
		    }
		    ::-webkit-scrollbar-thumb{
		        width: 7px;
		        color:darkgray;
		    }
		}

	//scroll direction
		.scroll_vertical{
			overflow-y:scroll;
			overflow-x:hidden;
		}

		.scroll_horizontal{
			overflow-y:hidden;
			overflow-x:scroll;
		}
	//scroll type
		//snap scroll	
			//vertical snap scroll
				.snap_scroll_parent_v{
					scroll-snap-type:y mandatory;
				}
				.snap_scroll_child_v{
					scroll-snap-align:center;
				}
			//horizontal snap scroll
				.snap_scroll_parent_h{
					scroll-snap-type:x mandatory;
				}
				.snap_scroll_child_h{
					scroll-snap-align:start;
				}
		//smooth scroll
				.smooth_scroll{
					scroll-behavior: smooth;
				}

//containers
	//theme
	.light{
		background:white;
	}
	//.dark{background:;}

	//positioning
		.middle{
			position: relative;
			@include middle;
		}
		.center_h{
			position: relative;
			@include center_h;
		}
		.center_v{
			position: relative;
			@include center_v;
		}
	//containers types
        //topnav
			//2 segments<title/></links>
			nav.topnav{
				position: fixed;
				top:0px;left:0px;
				width: 100vw;
				z-index: 10;
				box-shadow: 1px 1px 10px 10px rgba(10,10,10,0.3);
				display:grid;
				grid-template-columns: 1fr 1fr;
				ul.links{
					list-style: none;
					a,li{
						display: inline-block;
					}
				}				
			}
            //3 segments<icon title/></links>
            //4 segments<icon title><links sidenav>
                //links overflow - scroll x
        //sidenav
			//<icon title cancel/></links></bottom quote>
			nav.sidenav{
				position: fixed;
				height:100vh;
				right:0px;top:0px;
				min-width: 300px;
				max-width: 500px;
				z-index:100;
				box-shadow: 1px 1px 10px 10px rgba(10,10,10,0.5);
				.barner{
					background:gray;
					padding:20px;
				}
				.links{
					padding:10px;
					background:whitesmoke;
				}
				ul.ver{
					list-style: none;
					a{
						text-decoration: none;
					}
					li{
						padding:10px;
					}
				}
				button.cancel{
					padding:10px;
				}
			}
			
            //<icon title cancel/></links>

//text
    //title
    //subtitle
    //paragraph


    //buttons
    //icon button
    //normal button
    //full button

//input elements
    //special animation on hover placeholder
    //form
    //input