@import './variables.scss';

@mixin fixed_topnav {
    width:100vw;
    height:70px;
    position: fixed;
    top:0px;
    left:0px;
    z-index: 10;
}


.topnav_cover{
    @include fixed_topnav;
    text-align: center;
}

.topnav_double{
    max-width: $align;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media only screen and(max-width:400px){}
@media only screen and(max-width:400px){}
