div.nav{
	position: fixed;
	left:-170px;
	top: 0px;
	height: 100%;
	min-width: 200px;
	z-index: 10;
	padding:20px;
	transform:rotate(30deg);
	background:linear-gradient(0deg,blue,rgb(100,100,250));
}
ul.nav{
	transform: rotate(-30deg);
	padding:30px;
	list-style: none;
}
ul.nav li{
	padding: 10px 5px;
	border:1px solid transparent;
	color:white;
	font-family:cursive;
	text-align: center;
	margin-bottom:20px;
	margin-left: 30px;
}
ul.nav li:hover{
	transition: 1s;
	background: white;
	color:rgba(100,100,250);
}
