*{
	padding:0px;
	margin:0px;
}
div.topbarner{
	position: fixed;
	width:100%;
	background: rgb(250,250,250);
	color: rgb(100,100,250);
	text-align: center;
	padding:10px;
	font-family: monospace;
	box-shadow: 5px 10px 10px;
}
div.spacing:
