body{
	background-color: 000;
}
div.textAnim1{
	opacity: 0.5;
	color:white;
}
div.textAnim1:hover{
	height:5%;
	width: 100%;
	color:red;
	opacity: 1;
	transform: translateY(-50px);
	/*transform:rotate(360deg);*/
	transition: 3s;
	transform: ease-in-out;
}
button.funb{
	border:none;
	background:lightblue;
	border-radius: 50%;
	opacity: 0.5;
}
button.funb:hover{
	opacity: 1.0;
	transform:scale(1.2);
}
div.box{
	height: 20px;
	width:20px;
	background-color: red;
}
ul{
	list-style-type: none;
	width:100%;
	margin:0;
	padding:3;
	border: 0;
	position: fixed;
	display: block;
	overflow: hidden;
	background: gray;
}
li{
	display: inline-flex;
}
li a{
	display: block;
	text-decoration: none;
	padding: 10;
	color:white;
	background: gray;
}
li a:hover{
	background: white;
	color:black;
	transform: scale(1.1);
	transform: translateY(-5px);
	transform: ease-in-out;
	transition: 1s;
}
li.active a{
	background-color:black;
	color:red;

}
li.active :hover{
	color:white;
	transition: 1s;
}
div.PersonalAdvert{
	background: gray;
}
div.PersonalAdvert:hover{
transition: 2s;
animation-name: textanim;
animation-duration: 4s;
transform: ease-in-out;
}
@keyframes textanim{
	0%{
		background: gray;
		color:white;
	}
	25%{
		background: lightblue;
		color:pink;
	}50%{
		background: green;
		color:yellow;
	}75%{
		background: black;
		color:red;
	}
	100%{
		background: blue;
	}
}
div.box{
	background: none;
	width:50%;
	animation-name: slide;
	animation-duration:4s;
}
@keyframes slide{
	0%{
		transform:translateX(100px);
		transform: ease-in-out;
		transition: 3s;
	}
	50%{
		transform:translateX(-100px);
		transform: ease-in-out;
		transition:1s;
	}
}
span.Barner{
	animation-name: barner;
	animation-duration: 2s;
	line-height: 10px;
}
span.textBarner1{
	color: red;
	animation-name: tBarner;
	animation-duration: 3s;
}
span.textBarner2{
	color:white;
	animation-name: tBarner;
	animation-duration: 3s;
}
@keyframes tBarner{
	0%{color:black; }
	25%{color:orange;}
	75%{color:lightgreen;}
	100%{color:white;}
}
@keyframes barner{
	0%{line-height: 5px;}
	50%{line-height: 30px;}
}