*{
	padding: 0;
	margin: 0;
}
.inline{
	display:inline-flex;
	width:100%;
	justify-content: center;
}
.middle{
	position:relative;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
}
.bg{
	background-position: center;
	background-size: cover;
	position: relative;
	height:100%;
	width:100%;
	transition:1s;
}
.card:hover .bg{
	height:50%;
}
.bottomcontent{
	padding:20px;
	text-align: center;
	background:linear-gradient(0deg,rgb(0,0,60),rgb(100,100,255));
	color:white;
	transition:1s;
}
.bottomcontent p{
	text-align: left;
}
.bottomcontent h3{
	color:rgb(255,250,240);
	font-family: cursive;
	margin:10px 0px;
}
.card{
	transition: 3s;
	height:400px;
	width:350px;
	overflow: hidden;
	margin:0px 5px;
}
.front,.back{
	height: 100%;
	width: 100%;
	position: absolute;
	backface-visibility: hidden;
	transition:transform .3s linear;
}
img{
	height: 100%;
	width: 100%;
}
.front{
	transform: perspective(300px) rotateY(0deg);
}
.back{
	transform: perspective(300px) rotateY(180deg);
}
.card:hover > .front{
	transform: perspective(300px) rotateY(-180deg);
}
.card:hover > .back{
	transform: perspective(300px) rotateY(0deg);	
}

.cube{
	position: absolute;
	transform-style: preserve-3d;
	left:50%;
	top:80%;
	transform:translateX(-50%);
	height:200px;
	width:200px;
	perspective: 2000px;
	animation: rotate 10s linear infinite;
}
@keyframes rotate{
	0%{
		transform: rotateX(45deg) rotateY(45deg);
	}
	12.5%{
		transform: rotateX(90deg) rotateY(90deg);
	}
	25%{
		transform: rotateX(135deg) rotateY(135deg);
	}
	37.5%{
		transform: rotateX(180deg) rotateY(180deg);
	}
	50%{
		transform: rotateX(225deg)rotateY(225deg);
	}
	62.5%{
		transform: rotateX(270deg) rotateY(270deg);
	}
	75%{
		transform: rotateX(335deg)rotateY(335deg);
	}
	87.5%{
		transform: rotateX(360deg) rotateY(360deg);
	}
	100%{
		transform: rotateX(45deg) rotateY(45deg);
	}
}
.p1,.p2,.p3,.p4,.p5,.p6{
	position: absolute;
	height: 100%;
	width:200px;
}
.p1{
	transform:rotateY(0deg) translateZ(100px);
}
.p2{
	transform: rotateY(90deg) translateZ(100px);	
}
.p3{
	transform: rotateY(-90deg) translateZ(100px);
}
.p4{
	transform: rotateY(0deg) translateZ(-100px);
}
.p5{
	transform: rotateX(90deg) translateZ(-100px);
}
.p6{
	transform: rotateX(-90deg) translateZ(-100px);
}	
img.c{
	height:100%;
	width:100%;
}