body{
	background: white;
}
div.barner{
	background: #3399FF;
	width:95%;
	border-radius: 2%;
	padding: 5px;
	word-spacing: -40px;
	animation-name: barner;
	animation-delay: 1s;
	animation-duration: 5.5s;

}
h1.t1{
	font-family: sans-serif;
	text-shadow: black;
	color:white;
	animation-name: textOne;
	animation-delay: 1s;
	animation-duration: 4s;
}
h3.t2{
	color:#3399FF;
	animation-name:textTwo;
	animation-delay: 1s;
	animation-duration: 5.5s;
}
@keyframes barner{
	30%{
		word-spacing: 20px;
	}70%{
		word-spacing: 20px;
	}
}
@keyframes textOne{
	30%{
		transform: rotate(30deg)
	}60%{
		transform: rotate(-30deg);
	}90%{
		transform:scale(1.5);
	}
}
@keyframes textTwo{
	20%{
		color:#3399FF;
	}40%{
		color:#4169E1;
	}70%{
		color:white;
	}90%{
		color:black;
	}
}
div.barner:hover{
	color: black;
}
div.tail{
	margin: 5;
	padding:5;
	background: #3399FF;
	position: fixed;
	width:100%;
	height:10%;
	bottom:10px;

}
ul.navbar{
	text-decoration: none;
	list-style-type: none;
}
li{
	display: inline-block;
	padding: 5;
	background: white;
}
li.active{
	background: #FF4444;
}
li.active a{
	color:white;
}
li a{
	text-decoration: none;
	color:black;
}
li:hover{
	transform: translateY(-5px);
	transform: ease-in-out;
	transition:1s;
	background:red;
}
li a:hover{
	color:white;
}
div.maincontent{
	background:#3399FF;
	width:95%;
	height: 60%;
	margin:10px;
	padding: 5px;
}
div.inner{
	height:45%;
	width:97%;
	background: whitesmoke;
	opacity:0.8;
}
div.inner:hover{
	opacity:1.0;
	transform: translateY(-10px);
	transform: ease-in-out;
	transition: 1s;
}
div.right{
	width: 40%;
	height:90%;
	background: lightgreen;
	align-self: flex-end;
}
div.left{
	margin: 0px;
	width: 40%;
	height: 90%;
	background: lightslategray;
	right: 10px;
}
ul.innerL{
	list-style-type: none;
}
ul.innerL li{
	display: inline;
}