body{
    background: gray;
}
div.navbar{
    width:100%;
    position:fixed;
    background: #3399FF;
    border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
ul.nav{
    list-style-type: none;
}
li{
    display: inline-block;
    padding: 5;
    background: white;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
li a{
    text-decoration: none;
    color:black;
}
li.active{
    background-color: red;
    color:white;
}
li:hover{
    background: lightsalmon;
    transition: 1s;
    transform:translateY(-5px);
    transform: ease-in-out;
}
div.chatpage{
    border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: lightgrey;
    width:70%;
    height: 97%;
    margin-left: 26%;
    position: fixed;
    padding: 5;
}
div.contacts{
    border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: lightgray;
    height:90%;
    width:25%;
    position: fixed;
}
div.content{
    display: inline;
    position: static;
}
div.keyboard{
    bottom:0;
    width:30%;
    position:fixed;
    border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
input.usrmsg{
    border:0;
    border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 30%;
    tranform:scale(1.002);
}
input.sendbtn{
    border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border:0;
    background: lightblue;
    transform: scale(1.2);
}
input.usrmsg:hover{
    width:80%;
    transition: 1s;
}
table.messages{
    width:100%;
}
div.user_side{
    max-width: 60%;;
    float:right;
    color:white;
    padding:5px;
    background:#3399FF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
div.divide{
    width:100%;
}
div.friend_side{
    color:white;
    max-width: 60%;
    float:left;
    padding:5px;
    background:#3399FF;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
div.msgbox{
    padding-bottom:15px;
    margin-bottom:20px;
    height:70%;
}
div.trending{
    width:45%;
    height:100%;
    margin-left:55%; 
    background: #3399FF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
span.title{
    background: whitesmoke;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding:7px;
    position: fixed;
    margin-top: 0%;
}
div.small{
    padding:5px;
    
}
div.notification{
    width:90%;
    align-self: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding:7px;
    background: #3399FF;
    color:white;
    overflow: hidden;
    margin-top:5px;
    margin-bottom: 5px;
}
div.notification:hover{
    color:black;
    background: lightblue;
    transform: translateX(10px);
    transform: scale(1.05);
    transition: 0.8s;
    transform: ease-in-out;
}
img.profile{
    border-radius: 50%;
}
img.profile:hover{
    transform: rotate(360deg);
    transition: 1s;
}
div.profile{
    background: #3399FF;
    width:90%;
    height:50px;
    padding:5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}