body{
    background: gray;
}
div.navbar{
    width:100%;
    position:fixed;
    background: #3399FF;
    border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
ul.nav{
    list-style-type: none;
}
li{
    display: inline-block;
    padding: 5;
    background: white;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
li a{
    text-decoration: none;
    color:black;
}
li.active{
    background-color: red;
    color:white;
}
li:hover{
    background: lightsalmon;
    transition: 1s;
    transform:translateY(-5px);
    transform: ease-in-out;
}
div.chatpage{
    border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: lightgrey;
    width:30%;
    height: 97%;
    margin-left: 26%;
    position: fixed;
    padding: 5;
    animation-name: entrance;
    animation-duration: 2s;
}
@keyframes entrance{
    0%{
        transform: translateX(-50%);
        opacity: 0;
    }
    50%{
        transform: translate(-20%);
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
div.contacts{
    border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: lightgray;
    height:90%;
    width:25%;
    position: fixed;
}
div.content{
    display: inline;
    position: static;
}
div.keyboard{
    bottom:0;
    width:100%;
    height: 70%;
    border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow-y: scroll;
}
input.usrmsg{
    padding:5px;
    border:0;
    border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 30%;
    tranform:scale(1.002);
}
input.sendbtn{
    border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border:0;
    background: lightblue;
    transform: scale(1.2);
}
input.sendbtn:hover{
    background: #3399FF;
}
input.usrmsg:hover{
    color:#3399FF;
    padding:7px;
    width:80%;
    transition: 1s;
}
div.user_side{
    max-width: 70%;;
    float:right;
    color:white;
    padding:5px;
    background:#3399FF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
div.divide{
    width:100%;
}
div.friend_side{
    color:#3399FF;
    max-width: 60%;
    float:left;
    padding:5px;
    background:white;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
div.msgbox{
    padding-bottom:15px;
    margin-bottom:20px;
    height:70%;
}
div.trending{
    width:70%;
    height:100%;
    margin-left:55%; 
    background: #3399FF;
    position: absolute;
    right:2.5%;
    position: fixed;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
div.title{
    background: whitesmoke;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding:7px;
    position: fixed;
    margin-top: 0%;
    width:50%;
}
div.small{
    padding:5px;
    
}
div.notification{
    width:90%;
    align-self: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding:7px;
    background: #3399FF;
    color:white;
    overflow: hidden;
    margin-top:5px;
    margin-bottom: 5px;
}
div.notification:hover{
    transform: translateX(10px);
    transform: scale(1.05);
    transition: 0.8s;
    transform: ease-in-out;
    animation-name: wiggle;
    animation-duration: 0.8s;
    background: white;
    color:#3399FF
}
@keyframes wiggle{
    25%{transform: rotate(-5deg)}
    50%{transform: rotate(5deg);}
    75%{transform: rotate(-5deg);}
    90%{transform: rotate(5deg);}
}
img.profile{
    border-radius: 50%;
}
img.profile:hover{
    transform: rotate(360deg);
    transition: 1s;
}
div.profile{
    background: #3399FF;
    width:90%;
    height:50px;
    padding:5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
form.messageBox{
    margin-bottom: 20px;
}
table.chat{
    background: lightgreen;
    width:100%;
    border:0px;
    margin-right: 0px;
}
form.profile{
    visibility: hidden;
}