*{
    padding:0px;
    margin:0px;
}
:root{
    --background-color:rgb(20,20,20);
    --text-color:rgb(250,250,250);
}
body{
    background-color: var(--background-color);
    color:var(--text-color);
}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


div.sideBar{
    padding:10px;
}